* { 
/* Font for project */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html, body {
margin: 0;
height: 100%;
}

.header {
/* Background image for header. Flex box used to display ul to right side. Min Height to increase background size  */
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
background-image: url(./images/360_F_196742082_51jZn1ju5JHl7rrq8pj2QmaqxgCKzfqv.jpg);
min-height: 150px;
}

.comp {
  /* ul formatting */
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  
  }

main {
  display: flex;
  flex-wrap: wrap;
}

.div1 {
/* Has gradient to seperate header from body. Flex box to format h2 element in correct position */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end;
  min-height: 150px;
  background: linear-gradient(180deg, rgba(161,125,78,1) 0%, rgba(176,160,138,0.5494572829131652) 100%);;
  }

.work {
  /* Main image placholder image for future projects */
background-image: url(./images/Hello_there.jpg);


}

/* Placeholder 1 */
.ref1{
  background-image: url(./images/Javascript.webp
  );
  
/* Placeholder 2 */
}

.ref2{
  background-image: url(./images/css.jpeg);
}

/* Placeholder 3 */
.ref3{
  background-image: url(./images/html.jpeg);
}

/* Placeholder 4 */
.ref4{
  background-image: url(./images/Matrix.jpeg);
}



.flex-items {
/* Formatting for main image. Flexbox to format placeholder h3 element into correct position within image. Min height and flex to enlarge image. Min-width commented 
out but left for reference  */
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-end;
border: 5px solid rgb(133, 97, 49);
background-position: center;
min-height: 350px;
/* min-width: 900px; */
padding-bottom: 20px;
flex: 0 0 77%;
}


.flex-items2 {
/* Formatting for smaller placeholder images. Flexbox to format placeholder h3 element into correct position within image.   */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-start;
  border: 5px solid rgb(133, 97, 49);
  background-position: center;
  min-height: 200px;
  min-width: 300px;
  padding-bottom: 20px;
  margin-top: 5px;
  margin-bottom:10px ;
 flex: 0 0 37.9%;


  }

  /* .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    align-content: flex-end;
  } */


 span {

  /* Used for formatting text under h3 element without impacting P element in the about section */
display: flex;
flex-wrap: wrap;
background-color: rgb(133, 97, 49);
padding: 0px 96.5px 10px 10px;

} 


h1 {
  /* Formatting and styling for all h1 elements */
 padding-left: 38px;
 padding-right: 20px;
 background-color: rgb(133, 97, 49);
 color: white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 50px;
}

h2 {
  /* formatting and styling for all h2 elements */
color: white;
margin-right: 25px;
background-color: rgb(133, 97, 49);
padding-right: 50px;
padding-left: 25px;
padding-right: 25px;
font-size: 30px;

}

div h4 {
/* Formatting and styling for all h4 elements with the parent div */
display: flex;
flex-wrap: wrap;
color: white;
background-color: rgb(133, 97, 49);
padding: 10px 8px 10px 10px;
font-size: 25px;
}


nav h4 {
/* Formatting and stying for all h4 elements with the parent nav */
display: flex;
flex-wrap: wrap;
background-color: rgb(133, 97, 49);
font-size: 25px;

}

a {
/* Styling for a elements so that links do not display with colour  */
color: white;
text-decoration: none;

}


li {
/* Styling for header li elements */
font-size: 30px;
padding-right: 20px;
padding-left: 5px;
color: white;
background-color: rgb(133, 97, 49);

}
/* Hover effect over li element. Surrounds hovered item with padded white background box */
li a:hover {
background-color: white; 
color: rgb(133, 97, 49);
background-size: 100% 100%;
border-radius: 25px;
padding: 5px;
border: solid 2px rgb(133, 97, 49);

}


section a:hover {
/* Hover effect for main and smaller placeholder images. Images lower contrast to show users which item is selected and that it is clickable  */
filter: contrast(60%);

}

.page-wrapper {
  /* Formats elements in main class to be pushed left so the h3 elements are can be on the side */
max-width: 88%;
margin-left: auto;
margin-right: auto;

}

.page-section {
/* Using flexbox formats section elements so that h3 and images wrap correctly and adds space between */
margin: 25px 0;
padding: 10px 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: stretch;
justify-content: space-between;
}

.page-section > h3 {
  /* Styling and formatting for h3 elements with the page-section class */
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  margin-left: 28px;
  font-size: 4vw;
  line-height: 1.1;
  color: rgb(133, 97, 49);
  border-right: 5px solid rgb(133, 97, 49);
}

.page-section > div {
  /* Formats div to have inital size of 77% to allow to fit next to h3 element*/
  flex: 0 0 77%;
}

.page-section p {
  /* Formatting for p elements within page-section */
  margin-bottom: 20px;
  line-height: 2.5;
}

.contact address {
  /* Formatting the positions of the linked items  */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  /* Formatting and styling for the links. Trasition effect allows the background hover effect to fade in smoothly */
  color: black;
  padding: 10px 10px 10px 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  border-bottom: 5px solid rgb(133, 97, 49);
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 30px 0.1rem;
  display: inline-block;
}

.contact address a:hover {
/* Hover effect for the links. Changes text to white and adds background colour to show which link has been selected  */
  background-size: 100% 88%;
  background-color: rgb(133, 97, 49);
  color: aliceblue;
}

#contactme {

  margin-left: 50px;
}


/* Many media queries to make project accessible on smaller screens. Unfortunately needed to implement many changes with help of tutor to fix overusage(or maybe incorrect usage) of  */
/* flexboxes to line element and contents in the desired fashion */

@media screen and (max-width:1331px){

  .work {

    min-width: auto;
  }
  
}
@media screen and (max-width:1016px){
  html, body {
    overflow-x: clip;
  }

  #contact address {
    max-width:89vw;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: clip;
    overflow-x: scroll;
  }
  
}

@media screen and (max-width:1075px){

  .page-section > h3 {
    min-width: 100%;
    text-align: center;
    padding-right: 0px;
    margin-left: 0px;
    font-size: 4vw;
    line-height: 1.1;
    color: rgb(133, 97, 49);
    border-right: none;
    margin-bottom: 15px;
}
.page-section > div {
  flex: auto;
}

.flex-items2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-start;
  border: 5px solid rgb(133, 97, 49);
  background-position: center;
  min-height: 200px;
  min-width: 300px;
  padding-bottom: 20px;
  margin-top: none; 
   margin-bottom: none;
  flex: 0 0 48%;
}

.flex-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border: 5px solid rgb(133, 97, 49);
  background-position: center;
  min-height: 350px;
  min-width: auto;
  padding-bottom: 20px;
  flex: 0 0 98%;
}

.page-section {
    margin: 25px 0;
     padding: 0; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: none; 
    justify-content: center;
    gap: 20px;
}
.page-section h3:nth-of-type(2),
.page-section h3:nth-of-type(3) {
  display:none;
}

#contactme {

  margin-left: 0;

}

}

@media screen and (max-width:721px){
 
  .flex-items2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-start;
  border: 5px solid rgb(133, 97, 49);
  background-position: center;
  min-height: 200px;
  min-width: 300px;
  padding-bottom: 20px;
  margin-top: none;
  margin-bottom: none;
  flex: 0 0 98%;

  }
}