* { 

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html, body {
margin: 0;
height: 100%;
}

.header {

display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
background-image: url(./images/360_F_196742082_51jZn1ju5JHl7rrq8pj2QmaqxgCKzfqv.jpg);
min-height: 150px;
}


main {
  display: flex;
  flex-wrap: wrap;
}

.work {
  
background-image: url(./images/Hello_there.jpg);


}

.ref1{
  background-image: url(./images/Javascript.webp
  );
  background-position: center;

}
.ref2{
  background-image: url(./images/css.jpeg);
}
.ref3{
  background-image: url(./images/html.jpeg);
}
.ref4{
  background-image: url(./images/Matrix.jpeg);
}


.flex-items {

display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-end;
border: 5px solid rgb(133, 97, 49);
background-position: center;
min-height: 350px;
min-width: 900px;
padding-bottom: 20px;
flex: 0 0 77%;
}

.flex-items:hover {

  color: white;
}

.subhead {

  display: flex;
  flex-wrap: wrap;
}

.flex-items2 {

  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-start;
  border: 5px solid rgb(133, 97, 49);
  background-position: center;
  min-height: 200px;
  min-width: 300px;
  padding-bottom: 20px;
  margin-top: 5px;
  margin-bottom:10px ;
 flex: 0 0 37.9%;


  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    align-content: flex-end;
  }


 span {

display: flex;
flex-wrap: wrap;
background-color: rgb(133, 97, 49);
padding: 0px 96.5px 10px 10px;

} 

.comp {

list-style-type: none;
display: flex;
justify-content: flex-start;
text-decoration: none;

}

h1 {
 padding-left: 38px;
 padding-right: 20px;
 background-color: rgb(133, 97, 49);
 color: white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 50px;
}

h2 {
color: white;
margin-right: 25px;
background-color: rgb(133, 97, 49);
padding-right: 50px;
padding-left: 25px;
padding-right: 25px;
font-size: 30px;

}

div h4 {

display: flex;
flex-wrap: wrap;
color: white;
background-color: rgb(133, 97, 49);
padding: 10px 8px 10px 10px;
font-size: 25px;
}


nav h4 {
display: flex;
flex-wrap: wrap;
background-color: rgb(133, 97, 49);
font-size: 25px;

}



a {

color: white;
text-decoration: none;

}


li {

font-size: 30px;
padding-right: 20px;
padding-left: 5px;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(133, 97, 49);
transition: all 0.25s ease-in;

}

li a:hover {
background-color: white; 
color: rgb(133, 97, 49);
background-size: 100% 100%;
border-radius: 25px;
padding: 5px;
border: solid 2px rgb(133, 97, 49);

}


section a:hover {

filter: contrast(60%);

}

 
.div1 {

display: flex;
flex-wrap: wrap;
align-content: flex-end;
justify-content: flex-end;
min-height: 150px;
background: linear-gradient(180deg, rgba(161,125,78,1) 0%, rgba(176,160,138,0.5494572829131652) 100%);;


}

#about {

padding-bottom: 25px;
}


.page-wrapper {
max-width: 88%;
margin-left: auto;
margin-right: auto;

}

.page-section {

margin: 25px 0;
padding: 10px 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: stretch;
justify-content: space-between;
}

.page-section > h3 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  margin-left: 28px;
  font-size: 4vw;
  line-height: 1.1;
  color: rgb(133, 97, 49);
  border-right: 5px solid rgb(133, 97, 49);
}

.page-section > div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
  line-height: 2.5;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: black;
  padding: 10px 10px 10px 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  border-bottom: 5px solid rgb(133, 97, 49);
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 30px 0.1rem;
  display: inline-block;
}

.contact address a:hover {

  background-size: 100% 88%;
  background-color: rgb(133, 97, 49);
  color: aliceblue;
}

#contactme {

  margin-left: 50px;
}

@media screen and (max-width:1331px){

  .work {

    min-width: auto;
  }
  
}
@media screen and (max-width:1016px){
  html, body {
    overflow-x: clip;
  }

  #contact address {
    max-width:89vw;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: clip;
    overflow-x: scroll;
  }
  
}

@media screen and (max-width:1075px){

  .page-section > h3 {
    min-width: 100%;
    text-align: center;
    padding-right: 0px;
    margin-left: 0px;
    font-size: 4vw;
    line-height: 1.1;
    color: rgb(133, 97, 49);
    border-right: none;
    margin-bottom: 15px;
}
.page-section > div {
  flex: auto;
}

.flex-items2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-start;
  border: 5px solid rgb(133, 97, 49);
  background-position: center;
  min-height: 200px;
  min-width: 300px;
  padding-bottom: 20px;
  margin-top: none; 
   margin-bottom: none;
  flex: 0 0 48%;
}

.flex-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border: 5px solid rgb(133, 97, 49);
  background-position: center;
  min-height: 350px;
  min-width: auto;
  padding-bottom: 20px;
  flex: 0 0 98%;
}

.page-section {
    margin: 25px 0;
     padding: 0; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: none; 
    justify-content: center;
    gap: 20px;
}
.page-section h3:nth-of-type(2),
.page-section h3:nth-of-type(3) {
  display:none;
}

#contactme {

  margin-left: 0;

}

}

@media screen and (max-width:721px){
 
  .flex-items2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-start;
  border: 5px solid rgb(133, 97, 49);
  background-position: center;
  min-height: 200px;
  min-width: 300px;
  padding-bottom: 20px;
  margin-top: none;
  margin-bottom: none;
  flex: 0 0 98%;

  }
}